<md-sidenav-container>

  <md-sidenav class="quickpanel" [opened]="quickpanelOpen" align="end" mode="over" #quickpanel>

    <ms-quickpanel></ms-quickpanel>

  </md-sidenav>

  <md-sidenav class="sidenav" [opened]="sidenavOpen" align="start" [mode]="sidenavMode" msIconSidenav #sidenav>

    <ms-sidenav></ms-sidenav>

  </md-sidenav>

  <md-toolbar class="main-toolbar md-elevation-z2">
    <div fxHide="false" fxHide.gt-sm>
      <button (click)="sidenav.open()" md-icon-button>
        <md-icon>menu</md-icon>
      </button>
    </div>

    <ms-breadcrumbs fxHide="true" fxHide.gt-sm="false"></ms-breadcrumbs>

    <span fxFlex></span>

    <button fxHide="true" fxHide.gt-sm="false" md-button class="fullscreen-toggle" (click)="logout()">
      <md-icon>exit_to_app</md-icon>
    </button> 

    <button fxHide="true" fxHide.gt-sm="false" md-button class="fullscreen-toggle" (click)="toggleFullscreen()">
      <md-icon *ngIf="!isFullscreen">fullscreen</md-icon>
      <md-icon *ngIf="isFullscreen">fullscreen_exit</md-icon>
    </button>

    <ms-search></ms-search>

    <button class="user-button" md-button [mdMenuTriggerFor]="menu">
      <div fxLayout="row" fxLayoutAlign="start center">
        <img src="assets/img/avatars/noavatar.png" class="avatar-flex"/>
        <span fxHide="true" fxHide.gt-sm="false" style="font-weight: 500; margin-left: 5px;">{{name.auth.displayName}}</span>
        <md-icon fxHide="true" fxHide.gt-sm="false">keyboard_arrow_down</md-icon>
      </div>
    </button>


    <button md-button class="quickpanel-toggle" (click)="quickpanel.open()">
      <md-icon>format_align_right</md-icon>
    </button>


    <md-menu class="user-menu" x-position="before" y-position="below" #menu="mdMenu">
      <button md-menu-item>
        <md-icon>account_circle</md-icon>
        <span>Profile</span>
      </button>
      <button md-menu-item>
        <md-icon>settings</md-icon>
        <span>Settings</span>
      </button>
      <button md-menu-item>
        <md-icon>help</md-icon>
        <span>Help</span>
      </button>
      <md-divider></md-divider>
      <button [routerLink]="['/login']" md-menu-item>
        <md-icon>exit_to_app</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
  </md-toolbar>

  <div class="main-container" #scrollContainer>
  <!-- TODO: Put this form in a card -->
    <form id="theForm" class="simform" autocomplete="off">
      <div class="simform-inner">
        <ol class="questions">
          <li>
            <span><label for="q1">Enter your shoe. (SKU, name, color)</label></span>
            <input id="q1" name="q1" type="text"/>
          </li>
          <li>
            <span><label for="q2">Size</label></span>
            <input id="q2" name="q2" type="text"/>
          </li>
          <li>
            <span><label for="q3">Condition</label></span>
            <input id="q3" name="q3" type="text"/>
          </li>
          <li>
            <span><label for="q4">Box?</label></span>
            <input id="q4" name="q4" type="text"/>
          </li>
        </ol><!-- /questions -->
        <button class="submit" type="submit">Send answers</button>
        <div class="controls">
          <button class="next"></button>
          <div class="progress"></div>
          <span class="number">
            <span class="number-current"></span>
            <span class="number-total"></span>
          </span>
          <span class="error-message"></span>
        </div><!-- / controls -->
      </div><!-- /simform-inner -->
      <span class="final-message"></span>
    </form><!-- /simform -->   
    <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
  </div>

</md-sidenav-container>
