<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
			</div>
			<header class="codrops-header">
				<h1>Trade your sneakers <span>Get notified when a trade meets your needs!</span></h1>	
			</header>
			<section>
			<div class="login">
				<div class="form-container">
				<h3>Login or signup to begin</h3>
				  <img src="assets/images/lock.svg" id="lock">

				    <span class="error" *ngIf="error">{{ error }}</span>

				  <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
				  <button (click)="loginTwitter()" id="twitter">Login With Twitter</button>
				  <button routerLink="/login-email" id="email">Email</button>

				  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
				</div>
			</div>		
			</section>
			<section class="related">
				<p>How it works</p>
				<p>We all sometimes purchase shoes that do not fit - either to resell or accident but most commonly to trade for a size that we want.</p>
				<p>Add sneakers to your virtual closest that you wish to trade</p>
				<p>Select sneakrs that you are willing to trade in exchange for one of your sneakers</p>
				<p>Sit back and relax! We will connect you with someone who is willing to trade</p>
				<p>It is then up to you to arrange the trade. It is strongly suggested that you read the guide to safe trading</p>
				<strong>Many trades will require shipment to different states or even countries. Each person pays their own shipping</strong>
				<a>
					<h3> --- See us on Twitter --- </h3>
				</a>
				<a>
					<h3> --- See us on Instgram --- </h3>
				</a>
			</section>
		</div><!-- /container -->