<div class="form-container" id="toolbar">
    <header [@fallIn]="state">
      <button (click)="logout()" class="basic-btn">Logout</button>
    </header>
    <div id="page" [@moveInLeft]="state">
      <h2>Hey {{ name.auth.displayName }}!</h2>
      <div class="container">
        <section>
          <form id="theForm" class="simform" autocomplete="off">
            <div class="simform-inner">
              <ol class="questions">
                <li>
                  <span><label for="q1">Enter your shoe. (SKU, name, color)</label></span>
                  <input id="q1" name="q1" type="text"/>
                </li>
                <li>
                  <span><label for="q2">Size</label></span>
                  <input id="q2" name="q2" type="text"/>
                </li>
                <li>
                  <span><label for="q3">Condition</label></span>
                  <input id="q3" name="q3" type="text"/>
                </li>
                <li>
                  <span><label for="q4">Box?</label></span>
                  <input id="q4" name="q4" type="text"/>
                </li>
              </ol><!-- /questions -->
              <button class="submit" type="submit">Send answers</button>
              <div class="controls">
                <button class="next"></button>
                <div class="progress"></div>
                <span class="number">
                  <span class="number-current"></span>
                  <span class="number-total"></span>
                </span>
                <span class="error-message"></span>
              </div><!-- / controls -->
            </div><!-- /simform-inner -->
            <span class="final-message"></span>
          </form><!-- /simform -->      
        </section>
      </div><!-- /container -->
      <div>
      	<p>Active Trades</p>
		<ul>
		  <li class="text" *ngFor="let item of items | async">
		    {{item.$value}}
		  </li>
		</ul>
      </div>

    </div>
</div>	